pipeline/PL_Process_XMLA_Refresh.json
{
    "name": "PL_Process_XMLA_Refresh",
    "properties": {
        "activities": [
            {
                "name": "Call Dataset Refresh",
                "description": "Body format samples:\n\nTable name: FactABC\nDatabase : TestServer\n\nFull Table Refresh:\n\n{\n\"type\": \"full\",\n\"objects\": [\n\t\t{\n\t\t\t\"database\": \"TestServer\",\n\t\t\t\"table\": \"FactABC\"\n\t\t}\n}\n\nSpecific Partition Refresh:\n\n{\n  \"refresh\": {\n    \"type\": \"full\",\n    \"objects\": [\n      {\n        \"database\": \"TestServer\",\n        \"table\": \"FactABC\",\n        \"partition\": \"PartitionName1\"\n      },\n      {\n        \"database\": \"TestServer\",\n        \"table\": \"FactABC\",\n        \"partition\": \"PartitionName2\"\n      }\n    ]\n  }\n}",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Get AAD Token",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": true
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/',pipeline().parameters.PBIAppWorkspaceId,'/datasets/',pipeline().parameters.PBIDatasetId,'/refreshes')",
                        "type": "Expression"
                    },
                    "method": "POST",
                    "headers": {
                        "Authorization": {
                            "value": "@concat(string(activity('Get AAD Token').output.token_type),' ',string(activity('Get AAD Token').output.access_token))",
                            "type": "Expression"
                        }
                    },
                    "body": {
                        "value": "@pipeline().parameters.Body",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Get AAD Token",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Get Secret from AKV",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": true
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
                        "type": "Expression"
                    },
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "body": {
                        "value": "@concat('grant_type=client_credentials&resource=https://analysis.windows.net/powerbi/api&client_id=',pipeline().parameters.AppID,'&client_secret=',encodeUriComponent(activity('Get Secret from AKV').output.value))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Get Secret from AKV",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat(pipeline().parameters.KeyvaultURL,'secrets/',pipeline().parameters.secretname,'?api-version=7.0')",
                        "type": "Expression"
                    },
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            },
            {
                "name": "Until Refresh Complete",
                "type": "Until",
                "dependsOn": [
                    {
                        "activity": "Call Dataset Refresh",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@not(equals('Unknown',variables('RefreshStatus')))",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Get Dataset Refresh Status",
                            "type": "WebActivity",
                            "dependsOn": [
                                {
                                    "activity": "Wait1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": true
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": {
                                    "value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/',pipeline().parameters.PBIAppWorkspaceId,'/datasets/',pipeline().parameters.PBIDatasetId,'/refreshes?$top=1')",
                                    "type": "Expression"
                                },
                                "method": "GET",
                                "headers": {
                                    "Authorization": {
                                        "value": "@concat(string(activity('Get AAD Token').output.token_type),' ',string(activity('Get AAD Token').output.access_token))",
                                        "type": "Expression"
                                    }
                                },
                                "body": {
                                    "helloww": "worldddd"
                                }
                            }
                        },
                        {
                            "name": "Set RefreshStatus",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "Get Dataset Refresh Status",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "RefreshStatus",
                                "value": {
                                    "value": "@activity('Get Dataset Refresh Status').output.value[0].status",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Wait1",
                            "type": "Wait",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "waitTimeInSeconds": 10
                            }
                        }
                    ],
                    "timeout": "0.01:00:00"
                }
            },
            {
                "name": "Refresh Succeeded",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Until Refresh Complete",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(variables('RefreshStatus'),'Completed')",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Fail Pipeline",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": "https://ThrowAnError ",
                                "method": "POST",
                                "body": "Fail"
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "PBIAppWorkspaceId": {
                "type": "string"
            },
            "PBIDatasetId": {
                "type": "string"
            },
            "Body": {
                "type": "string"
            },
            "KeyvaultURL": {
                "type": "string"
            },
            "TenantID": {
                "type": "string"
            },
            "AppID": {
                "type": "string"
            },
            "secretname": {
                "type": "string"
            }
        },
        "variables": {
            "RefreshStatus": {
                "type": "String",
                "defaultValue": "Unknown"
            },
            "CurrentPartition": {
                "type": "String"
            },
            "PreviousPartition": {
                "type": "String"
            },
            "keyVaultUrl": {
                "type": "String"
            },
            "PBIAppWorkspaceId": {
                "type": "String"
            },
            "PBIDatasetId": {
                "type": "String"
            },
            "Body": {
                "type": "String"
            }
        },
        "folder": {
            "name": "Webhooks/Sales"
        },
        "annotations": [],
        "lastPublishTime": "2022-11-17T07:21:36Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}